body {
    background-color: #01063b;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    min-height: 100vh;
    overflow-y: auto;
}

.centered-video {
    width: 44vw;
    height: 50vh;
    margin: 0 25vw 0;
}

.centered-text {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    color: #faf9bb;
    font-family: 'Fredoka', sans-serif;
    padding: 20px;
    box-sizing: border-box;
}



.back-text {
    position: fixed;
    top: -1vw;
    left: 0.2%;
    font-size: 2vw;
    color: #faf9bb;
    cursor: pointer;
}

.back-text:hover {
    color: white;
}



